html {
    height: 100%;
}
body {
    display: flex ;
    flex-direction: column;
    height: 100%;
}
.uk-logo{
    padding-left: 25px;
}

/* .uk-offcanvas-bar{
    background-color:rgb(128, 128, 128);
    
}
.uk-offcanvas-bar a{
    color:rgb(92, 91, 91);
    
}
.uk-offcanvas-bar a:hover{
    color:#666;
    
} */

#main{
    margin-top: 3rem;
}
  
.uk-offcanvas-content {
    flex: 1 0 auto;
}
header img{
    width:75px;  
}




#social{
    position: relative;
    
}

#social ul{
    position: absolute;
    right: 1.5rem;
    bottom:0px;
    list-style: none;
}

#social ul li{
    display: inline;
    padding: 5px 10px;
    color:inherit;
}

#social ul li a{
    color: inherit;
}

@media only screen and (max-width:425px){
    footer{
        height: 80px;
        margin-top: 1em;
    }
    footer p{
        /* margin: 0; */
        position: absolute;
        bottom: 0;
        left:Calc(50% - 200px / 2);
    }


    #social ul{
        left:Calc(50% - 335px / 2);
        bottom: 2.5em;  
        padding:0;
    }
}
